{% extends "base.html" %}
{% block content %}

<section class="section">
  <h1 class="title" style="text-align: center;">SQL-инъекция поиск</h1>

  <div class="block">
    <pre>
        SQL: {{ sql }}
    </pre>
  </div>

  <div class="block">
    <form action="/sql-injection/search" method="get" style="max-width: 300px;">
      <div class="field">
        <label class="label">Поиск</label>
        <div class="control">
          <input class="input" name="q" type="text" placeholder="product...">
        </div>
      </div>
      
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Поиск</button>
        </div>
      </div>
    </form>
  </div>

  <div class="block">
    <table class="table is-striped">
      <thead>
        <tr>
          <th>№</th>
          <th>Логин</th>
          <th>Пароль</th>
          <th>Паспорт</th>
          <th>ИНН</th>
          <th>Номер телефона</th>
          <th>СНИЛС</th>
          <th>Почта</th>
          <th>Роль</th>
        </tr>
      </thead>
      <tbody>
        {% for person in persons %}
          <tr>
            <td>{{ person.id }}</td>
            <td>{{ person.login }}</td>
            <td>{{ person.password }}</td>
            <td>{{ person.passport_id }}</td>
            <td>{{ person.inn }}</td>
            <td>{{ person.phone_number }}</td>
            <td>{{ person.snils }}</td>
            <td>{{ person.email }}</td>
            <td>{{ person.person_role_id }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock %}