<nav class="navbar" role="navigation" aria-label="main navigation">

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{{ url_for('home') }}">
        Домой
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          SQL-инъекции
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="{{ url_for('sql_injection_login') }}">
            Авторизация
          </a>
          <a class="navbar-item" href="{{ url_for('sql_injection_search') }}?q=">
            Поиск
          </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          XSS
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="{{ url_for('xss_reflected') }}?search=">
            Отражённый
          </a>
        </div>
      </div>
      <a class="navbar-item" href="{{ url_for('iframe_injection') }}?page=/static/pages/about.html">
        IFrame-инъекция
      </a>
    </div>

    <div class="navbar-end">
      

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Ролевой доступ
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{{ url_for('role_access_model') }}">
              Оператор
            </a>
            <a class="navbar-item" href="{{ url_for('role_access_model') }}">
              Менеджер
            </a>
            <a class="navbar-item" href="{{ url_for('role_access_model') }}">
              Клиент
            </a>
          </div>
        </div>

    </div>
  </div>
</nav>